h1 {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    padding: 30px;
}

nav {
    text-align: center; 
    background-color: green;
}

body {
    background-color: yellow;
}

a {   
    text-align: center;
}

<<<<<<< HEAD
p {
    text-align: center;
    
}

.img Going {
position: right;
}

footer {
    padding-top: 50px;
=======
.BBL.png img {
position: relative;
>>>>>>> origin/HEAD
}
